<footer>
     <h1>現在の日時：<span id="current_date"></span></h1>
</footer>

<script>
date = new Date();
year = date.getFullYear();
month = date.getMonth() + 1;
day = date.getDate();
document.getElementById("current_date").innerHTML = year + "年" + month + "月" + day + "日";
</script>